<div class="navbar navbar-default navbar-background">
    <img src="/app/resources/Arch_MI_Logo.gif" width="200px"><br>
    <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
    <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li>
                <div class="dropdown">
                    <button class="btn btn-default" type="button" data-toggle="dropdown">Search By
							<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a>value1</a></li>
                        <li><a>value2</a></li>
                        <li><a>value3</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <input type="text" class="form-control" />
            </li>
            <li>
                <div class="dropdown"><a> New Features</a> </div>
            </li>
            <li>|</li>
            <li>
                <div class="dropdown"><a data-toggle="dropdown">{{loggedUser}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a (click)="signoutClicked()">Log Out</a></li>
                        <li><a>Settings</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class=" account-wall">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePSearch">Policy Search</a>
                        </h4>
                    </div>
                    <div id="collapsePSearch" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p *ngIf="isAdmin"><a (click)="creatParty()">Create Party</a></p>
                            <p *ngIf="isAdmin"><a (click)="maintainParty()">Maintain Party</a></p>
                            <p><a>Create Party Relationship</a></p>
                            <p><a>Maintain Party Relationship</a></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseParty">Party</a>
                        </h4>
                    </div>
                    <div id="collapseParty" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p *ngIf="isAdmin"><a (click)="creatParty()">Create Party</a></p>
                            <p *ngIf="isAdmin"><a (click)="maintainParty()">Maintain Party</a></p>
                            <p><a>Create Party Relationship</a></p>
                            <p><a>Maintain Party Relationship</a></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePolicyOrigination">Policy Origination</a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseHardships">Hardships</a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseArrears">Arrears</a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseClaims">Claims</a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseReinsurance">Reinsurance</a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseReports">Reports</a>
                        </h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-9">
        
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="row">
    <footer class="footer">
        <div class="container text-center">
            <p>Copyright ArchMI@2016 All rights Reserved</p>
        </div>
    </footer>
</div>