<div [formGroup]="addressForm">
    <h4> Address : </h4>
    <table class="borderless">
        <tr>
            <td><label class="radio-inline"><input type="radio"  formControlName='type' value="Physical"> Physical</label></td>
            <td> <label class="radio-inline"><input type="radio" formControlName='type' value="Mailing"> Mailing</label></td>
        </tr>
        <tr>
            <td> Attn </td>
            <td><input type="text" maxlength="150" formControlName='attn' class="form-control">
                <div *ngIf="addressForm.controls.attn.dirty && !addressForm.controls.attn.valid">
                    <small *ngIf="addressForm.controls.attn.errors.maxlength" class="text-danger">
                                Attn should be less than 150 characters.
                        </small>
                    <small *ngIf="addressForm.controls.attn.errors.pattern" class="text-danger">
                                Attn should be alphanumeric.
                        </small>
                </div>
            </td>
        </tr>
        <tr>
            <td> Address Line 1 </td>
            <td><input type="text" maxlength="150" formControlName='addressLine1' class="form-control">
            <div *ngIf="addressForm.controls.addressLine1.dirty && !addressForm.controls.addressLine1.valid">
                    <small *ngIf="addressForm.controls.addressLine1.errors.maxlength" class="text-danger">
                                Address Line 1 should be less than 150 characters.
                        </small>
                    <small *ngIf="addressForm.controls.addressLine1.errors.pattern" class="text-danger">
                                Address Line 1 should be alphanumeric.
                        </small>
                </div>
            </td>
        </tr>
        <tr>
            <td> Address Line 2 </td>
            <td> <input type="text" maxlength="150" formControlName='addressLine2' class="form-control">
            <div *ngIf="addressForm.controls.addressLine2.dirty && !addressForm.controls.addressLine2.valid">
                    <small *ngIf="addressForm.controls.addressLine2.errors.maxlength" class="text-danger">
                                Address Line 2 should be less than 150 characters.
                        </small>
                    <small *ngIf="addressForm.controls.addressLine2.errors.pattern" class="text-danger">
                                Address Line 2 should be alphanumeric.
                        </small>
                </div>
            </td>
        </tr>
        <tr>
            <td> City </td>
            <td> <input type="text" maxlength="50" formControlName='city' class="form-control">
            <div *ngIf="addressForm.controls.city.dirty && !addressForm.controls.city.valid">
                    <small *ngIf="addressForm.controls.city.errors.maxlength" class="text-danger">
                                City should be less than 150 characters.
                        </small>
                    <small *ngIf="addressForm.controls.city.errors.pattern" class="text-danger">
                                City should be alphanumeric.
                        </small>
                </div>
            </td>
        </tr>
        <tr>
            <td> State </td>
            <td> <select formControlName='state' class="form-control">
                    <option value="">Select</option>
            <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
        </select>
            </td>
        </tr>
        <tr>
            <td> Post Code</td>
            <td><input type="number" maxlength="7" formControlName='postCode' class="form-control">
            <div *ngIf="addressForm.controls.postCode.dirty && !addressForm.controls.postCode.valid">
                    <small *ngIf="addressForm.controls.postCode.errors.pattern" class="text-danger">
                                Post Code should be of 7 digits.
                        </small>
                </div>
            </td>
        </tr>
        <tr>
            <td> Country </td>
            <td> <select formControlName='country' class="form-control">
                     <option value="Australia">Australia</option>
        </select></td>
        </tr>
    </table>

    <div style="height:13"></div>
</div>