<form class="form-inline" [formGroup]="partyForm" (ngSubmit)="save(partyForm)">
    <div class="row">
            <div class="btn-group btn-breadcrumb">
                <a class="btn btn-default"> Party Information </a>
                <a class="btn btn-default" disabled> Party Relationship </a>
                <a class="btn btn-default" disabled> Insurance Contact</a>
                <a class="btn btn-default" disabled> Reinsurance Contact</a>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="row borderStyle">
                <div formGroupName="partyBasicInformation">
                    <partybasicinformation [basicinfogroup]="partyForm.controls.partyBasicInformation"></partybasicinformation>
                </div>
            </div>
            <div class="row borderStyle">
                <div formGroupName="partyOptionalInformation">
                    <partyoptionalinformation [optionalinfogroup]="partyForm.controls.partyOptionalInformation"></partyoptionalinformation>
                </div>
            </div>
        </div>
        <div class="col-md-6 borderStyle">
            <div formGroupName="address">
                <address [addressgroup]="partyForm.controls.address"></address>
            </div>
        </div>
    </div>
    <div style="height:1"></div>
    <div class="row">
        <div class="borderStyle" formGroupName="partyRoles">
            <partyroles [rolesgroup]="partyForm.controls.partyRoles"></partyroles>
        </div>
    </div>
    <div *ngIf="message" class="{{styleClass}} text-center">{{message}}</div>
    <button type="submit" class="btn btn-default pull-right" [disabled]="!partyForm.valid">Save</button>
</form>