/*.borderStyle{
    border-style: solid;
}
.navHeaders{
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    background-color: #BDC3C7;
}*/
.borderStyle{
    border-style: groove;
}
.navHeaders{
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    background-color: #BDC3C7;
}

.borderless td, .borderless th {
    border: none;
}
.th{
     background-color: #BDC3C7;
}
.colored{
 background-color : #CACFD2;
 font-family: Lucida Sans Unicode;
 font-weight: bold;
}