
<div [formGroup]="partyOptionalInformationForm">
    <div class="borderStyle">
        <h4>Optional Information</h4>
        <div class="col-md-offset-1">
            <table class="borderless">
                <tr>
                    <td> Party Ref ID </td>
                    <td><input type="text" maxlength="50" formControlName='partyRefId' class="form-control">
                    <div *ngIf="partyOptionalInformationForm.controls.partyRefId.dirty && !partyOptionalInformationForm.controls.partyRefId.valid">
                    <small *ngIf="partyOptionalInformationForm.controls.partyRefId.errors.maxlength" class="text-danger">
                                Party Ref ID should be less than 50 characters.
                        </small>
                    <small *ngIf="partyOptionalInformationForm.controls.partyRefId.errors.pattern" class="text-danger">
                                Party Ref ID should be alphanumeric.
                        </small>
                </div>
                    </td>
                </tr>
                <tr>
                    <td>  Arch LMI Ref ID</td>
                    <td><input type="text" maxlength="50" formControlName='archLMIRefId' class="form-control">
                    <div *ngIf="partyOptionalInformationForm.controls.archLMIRefId.dirty && !partyOptionalInformationForm.controls.archLMIRefId.valid">
                    <small *ngIf="partyOptionalInformationForm.controls.archLMIRefId.errors.maxlength" class="text-danger">
                                Arch LMI Ref ID should be less than 50 characters.
                        </small>
                    <small *ngIf="partyOptionalInformationForm.controls.archLMIRefId.errors.pattern" class="text-danger">
                                Arch LMI Ref ID should be alphanumeric.
                        </small>
                </div></td>
                </tr>
            </table>
            <br>
        </div>
    </div>
</div>