.control-label{
    color: black;
}
#kc-logo-wrapper{
    position: unset;
    height:100%;
    width:460px;
    margin-top: 7%;
    margin-left: 35%;
    margin-right: 35%;
    max-width: 60%;
}
#kc-logo{
    height: 200px;
    width: 100%;
}
#kc-container{
     margin-left: 17%;
}
#kc-container-wrapper{
    max-width: 70%;
}
.form-control{
    border-radius: 10px;
}
.kc-feedback-text{
    color: black;
}
#kc-form{
    width: 100%;
}
#kc-form-wrapper{
    margin-left: 5%;
}
