<div [formGroup]="partyBasicInformationForm">
    <h4> Party ID: {{partyId}}</h4>
    <div class="col-md-offset-1">
        <table class="borderless">
            <tr>
                <td> Party Name *</td>
                <td><input type="text" maxlength="50" formControlName='partyName' class="form-control">
                <div *ngIf="partyBasicInformationForm.controls.partyName.dirty && !partyBasicInformationForm.controls.partyName.valid">
                        <small *ngIf="partyBasicInformationForm.controls.partyName.errors.required" class="text-danger">
                                Party Name is required.
                        </small>
                        <small *ngIf="partyBasicInformationForm.controls.partyName.errors.maxlength" class="text-danger">
                                Party Name should be less than 50 characters.
                        </small>
                        <small *ngIf="partyBasicInformationForm.controls.partyName.errors.pattern" class="text-danger">
                                Party Name should be alphanumeric.
                        </small>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Nick Name * </td>
                <td> <input type="text" maxlength="10" formControlName='nickName' class="form-control">
                    <div *ngIf="partyBasicInformationForm.controls.nickName.dirty && !partyBasicInformationForm.controls.nickName.valid">
                        <small *ngIf="partyBasicInformationForm.controls.nickName.errors.required" class="text-danger">
                                Nick Name is required.
                        </small>
                        <small *ngIf="partyBasicInformationForm.controls.nickName.errors.maxlength" class="text-danger">
                                Nick Name should be less than 10 characters.
                        </small>
                        <small *ngIf="partyBasicInformationForm.controls.nickName.errors.pattern" class="text-danger">
                                Nick Name should be alphanumeric.
                        </small>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Party Status </td>
                <td>
                    <select formControlName="partyStatus" class="form-control">
                        <option value="Active">Active</option>
                        <option value="Expired">Expired</option>
                        <option value="Inactive">Inactive</option>
                        <option value="Pending">Pending</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> Party Type * </td>
                <td>
                    <select formControlName="partyType" class="form-control">
                        <option value="">Select</option>
                        <option *ngFor="let partyT of partyTypes" value="{{partyT}}">{{partyT}}</option>
                    </select>
                    <div *ngIf="partyBasicInformationForm.controls.partyType.dirty && !partyBasicInformationForm.controls.partyType.valid">
                        <small *ngIf="partyBasicInformationForm.controls.partyType.errors.required" class="text-danger">
                                Party Type is required.
                        </small>
                    </div>
                </td>
            </tr>
        </table>
        <br>
    </div>
</div>