<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1"/>
<title>
Read data from Database</title>
</head>
<body>
<table > 
<tr th:each="var : ${userList}" >
<td th:text="${var.id}"></td>
<td th:text="${var.username}"></td>
<td th:text="${var.password}"></td>
</tr>

</table>

</body>
</html>