<h2>Login Page</h2>
<div class="account-wall">
    <div class="row">
        <form class="form-signin" (ngSubmit)="loginClicked()" #loginForm="ngForm" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User Name" [(ngModel)]='user.user_name' id="name" required name="name"
                    #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">User name is required </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]='user.password' id="password" required name="password"
                    #password="ngModel">
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.form.valid">
                    Sign in</button>
            <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
            <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
            <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </form>
    </div>
</div>