<h4> Maintain party </h4>
Search Results
    <button class="btn btn-default pull-right" type="reset" (click)="clearFunction()">{{buttonValue}} </button>
   <br>
   <div *ngIf="!clear">
<p-dataTable selectionMode="single" [value]="parties" class="table table-dynamic" [rows]="4" [paginator]="true" (onRowSelect)="onRowSelect($event)">
      <p-column field="partyBasicInformation.partyId" header="Party Id" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
      <p-column field="partyBasicInformation.partyName" header="Name" [filter]="true" [sortable]="true" filterMatchMode="contains"></p-column>
      <p-column field="partyBasicInformation.nickName" header="Nick Name" [filter]="true" [sortable]="true" filterMatchMode="contains"></p-column>
      <p-column field="partyBasicInformation.partyType" header="Party Type" [filter]="true" [sortable]="true" filterMatchMode="contains"></p-column>
      <p-column field="address.state" header="State" [filter]="true" [sortable]="true" filterMatchMode="contains"></p-column>
      <p-column field="partyOptionalInformation.partyRefId" header="Party Ref Id" [filter]="true" [sortable]="true" filterMatchMode="contains"></p-column>
      <p-column field="partyBasicInformation.partyStatus" header="Status" [filter]="true" [sortable]="true" filterMatchMode="contains"></p-column>
    </p-dataTable>
   </div>
   <div *ngIf="clear">
<p-dataTable selectionMode="single" [value]="parties" class="table table-dynamic" [rows]="4" [paginator]="true" (onRowSelect)="onRowSelect($event)">
      <p-column field="partyBasicInformation.partyId" header="Party Id" [sortable]="true"></p-column>
      <p-column field="partyBasicInformation.partyName" header="Name" [sortable]="true" ></p-column>
      <p-column field="partyBasicInformation.nickName" header="Nick Name" [sortable]="true" ></p-column>
      <p-column field="partyBasicInformation.partyType" header="Party Type" [sortable]="true" ></p-column>
      <p-column field="address.state" header="State"  [sortable]="true" ></p-column>
      <p-column field="partyOptionalInformation.partyRefId" header="Party Ref Id"[sortable]="true" ></p-column>
      <p-column field="partyBasicInformation.partyStatus" header="Status" [sortable]="true" ></p-column>
    </p-dataTable>
   </div>
  