<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Read Data from the Customer Table</title>
</head>
<body>
<table > 
<tr th:each="var : ${customerList}" >
<td th:text="${var.customerId}"></td>
<td th:text="${var.customerName}"></td>
<td th:text="${var.loanNo}"></td>
<td th:text="${var.policy}"></td>
<td th:text="${var.policyStatus}"></td>
</tr>

</table>
</body>
</html>