<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
<h1>Customer Information</h1>
<p th:text="'Customer ID : '+${customer.CustomerId}"></p>
<p th:text="'Customer Name: ' + ${customer.CustomerName}"></p>
<p th:text="'loan No: '+${customer.loanNo}"></p>
<p th:text="'Policy: '+${customer.policy}"></p>
<p th:text="'Policy Status: '+${customer.policyStatus}"></p>
</body>
</html>